[data-tab-info] {
  display: none;
}

.active[data-tab-info] {
  display: block;
}

.tabs {
  font-family: "Nunito";
  font-style: normal;

  font-size: 16px;
  line-height: 22px;
  color: #2c2c2c;
  display: flex;
  margin: 0;
}

.tabs span {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.act {
  cursor: pointer;
  color: black;
  border-bottom: 3px solid #e21050 !important;
  font-weight: 700;
}

.contenTabs {
  height: 35px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenTabs2 {
  border-left: 2px solid #6f6d69 !important;
  border-right: 2px solid #6f6d69 !important;

  height: 35px;
  width: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  box-sizing: border-box;
  position: absolute;
  left: 136px;
  top: 50px;
  /* Grises/Blanco */
  background: #ffffff;
  /* Grises/Claro */
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-right: 50px;
  padding-top: 20px;
  margin-bottom: 30px !important;
}
