@import url("https://fonts.googleapis.com/css?family=Nunito");

.MuiAccordionSummary-root {
  border-radius: 10px !important;
  width: 1016px !important;
}

.css-3zb9r4-MuiPaper-root-MuiAccordion-root:before {
  position: inherit !important;
  left: 0;
  top: -1px;
  right: 0;
  height: 1px;
  content: "";
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.resumenTable {
  border-collapse: separate;
  border-spacing: 0 11px;
  margin: "0 auto";
}

.resumenTable td {
  border: 1px solid #d9d9d9;
  border-style: solid none;
  padding: 11px;
  font-size: 16px;
}

.resumenTable td:first-child {
  border-left-style: solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.resumenTable td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.resumenTable th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-z-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

.resumenTable th:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -moz-border-top-right-radius: 8px;

  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
